<h2>Profile Settings: <span class="upperCase">{{userData.username}}</span></h2>
<br>
<form ng-submit="saveProfile()">
  <div class="row">
    <div class="large-4 columns" style="text-align: center;">
	    <a class="th radius" href="#">
			<img ng-src="/img/avatars/{{userData.avatar}}" style="height: 150px;">
		</a>
	    <a class="th radius" href="#">
			<img ng-src="/backs/{{userData.deckBack}}" style="height: 150px;">
		</a>
    </div>
    
    <div class="large-4 columns">
      <label>Avatar
        <a href="#" class="button expand secondary small"><i class="fi-upload"></i> Upload Avatar</a>
      </label>
      <label>Deck Back
        <select ng-model="userData.deckBack">
          <option ng-repeat="deck in userData.unlockedDecks" value="{{deck}}">{{deck}}</option>
        </select>
      </label>
    </div>
    <div class="large-4 columns">
      <label>Email Address
        <input type="email" placeholder="Email Address" ng-model="userData.email" required/>
      </label>
      <a href="#" class="button tiny secondary expand" ng-if="userData.validemail != 'true'">Validate Email</a>
      <label>Change Password
        <input type="password" placeholder="Enter New Password" ng-model="userData.password" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <button type="submit" class="right">Save Changes</button>
    </div>
  </div>
</form>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>