<h2>{{deck.type}}: <span class="upperCase">{{deck.name}}</span></h2>
<alert type="showAlert.type" ng-show="showAlert">{{showAlert.message}}</alert>
<form ng-submit="saveDeck()">
  <div class="row">
    <div class="large-4 columns">
		<label>Deck Title
			<input type="text" placeholder="Deck Title" ng-model="deck.name" required/>
		</label>
		<label>Fetch deck from URL
		<helptip tip="Imports deck from deck building site URL, most deck building sites supported."></helptip>
			<input type="url" placeholder="http://" ng-model="deck.fetchUrl"/>
		</label>
		<label>Import deck from file.
			<helptip tip="txt dec l5d o8d files supported"></helptip>
			<upload max-size="150000" file-extentions="txt dec l5d o8d" ctrl-model="deckUpload"></upload>
		</label>
    </div>
    <div class="large-4 columns">
	    <label>Deck 
	    <span ng-if="deck.type == 'L5R'">(Fate)</span>
	    <span ng-if="deck.type == 'ST2' || deck.type == 'MLP'">(Draw)</span>
	    <helptip tip="Each line is quantity followed by card name '4 name of card'."></helptip>
			<textarea placeholder="Deck Cards, list format" style="height: 450px;" ng-model="deck.textdeck.main"></textarea>
		</label>
    </div>
    <div class="large-4 columns">
    	<label ng-if="deck.type == 'L5R' || deck.type == 'ST2' || deck.type == 'MLP'">Deck 2
	    <span ng-if="deck.type == 'L5R'">(Dynasty)</span>
	    <span ng-if="deck.type == 'ST2'">(Dilemma)</span>
	    <span ng-if="deck.type == 'MLP'">(Problems)</span>
			<textarea placeholder="Deck 2 Cards, list format" style="height: 300px;" ng-model="deck.textdeck.main2"></textarea>
		</label>

    	<label ng-if="deck.type == 'MTG'">Sideboard
    		<helptip tip="Sideboard cards can be swapped for mainboard cards via the game menu when in game."></helptip>
			<textarea placeholder="Sideboard Cards, list format" style="height: 125px;" ng-model="deck.textdeck.sb">
			</textarea>
		</label>

		<label ng-if="deck.type == 'MTG'">Alt Cards
		<helptip tip="Custom cards and tokens can be created by using the ^ syntax to refer to a URL '4 name of card^http://www.urlto.com/card.jpg'."></helptip>
			<textarea placeholder="Alt Cards, list format" style="height: 125px;" ng-model="deck.textdeck.alt">
			</textarea>
		</label>

		<label ng-if="deck.type == 'MTG' || deck.type == 'L5R' || deck.type == 'ST2'">Starts in Play
			<helptip tip="Starts in play cards start in the play area face up."></helptip>
			<textarea placeholder="Starts in Play Cards, list format" style="height: 125px;" ng-model="deck.textdeck.play">
			</textarea>
		</label>

		<label ng-if="deck.type == 'TSP' || deck.type == 'MLP'">Starts in Hand
			<helptip tip="Hand cards start in your hand ready to play."></helptip>
			<textarea placeholder="Starts in Hand Cards, list format" style="height: 125px;" ng-model="deck.textdeck.hand">
			</textarea>
		</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
    	<button type="submit" class="right">Save Deck</button>
    	<a class="button secondary right" ng-click="deleteDeck(deck.deckId)" ng-if="deck.deckId != 'new'">Delete Deck</a>
    </div>
  </div>
</form>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
