<h2>UnTap Funding</h2>
<div class="large-3 columns" style="text-align: center;">

	<h5>This Months Deck Back</h5>

	<a class="th radius" href="#">
		<img ng-src="http://www.untap.in/backs/{{g.userData.thisMonthDeck}}.jpg">
	</a>
</div>
<div class="large-3 columns">
	<ul class="pricing-table">
		<li class="title">Basic</li>
		<li class="price">$5</li>
		<li class="description">Deck back and 2 slots, basic.</li>
		<li class="bullet-item">+2 Deck Slots</li>
		<li class="bullet-item">This Months Deck Back.</li>
		<li class="bullet-item">Funder Perks!</li>
		<li class="cta-button"><a class="button" href="#">Fund $5</a></li>
	</ul>
</div>
<div class="large-3 columns">
	<ul class="pricing-table">
		<li class="title">Extras</li>
		<li class="price">$15</li>
		<li class="description">Deck back, 5 slots & Gamelocking.</li>
		<li class="bullet-item">+5 Deck Slots</li>
		<li class="bullet-item">This Months Deck Back.</li>
		<li class="bullet-item">Game Locking</li>
		<li class="cta-button"><a class="button" href="#">Fund $15</a></li>
	</ul>
</div>
<div class="large-3 columns">
	<ul class="pricing-table">
		<li class="title">I Want more!</li>
		<li class="price">$30</li>
		<li class="description">Deck backs, 12 slots & Gamelocking.</li>
		<li class="bullet-item">+12 Deck Slots</li>
		<li class="bullet-item">This Months Deck Back.</li>
		<li class="bullet-item">Game Locking</li>
		<li class="cta-button"><a class="button" href="#">Fund $30</a></li>
	</ul>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>